<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/header-alt.ejs'); %>
    <main style="justify-content: flex-start;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-row-a">
                        <div class="rectangle-1"></div>
                        <div class="about-text">
                            <span class="description">Description</span>
                            <span class="about-us">ABOUT US</span>
                            <div class="passionate-learner-designer">
                                <span class="passionate">It is Kamsicho Raymond Nnaegbuna, a passionate</span>
                                <span class="learner">learner</span>
                                <span class="passionate-2">, </span>
                                <span class="learner-3">designer</span>
                                <span class="passionate-4"> and </span>
                                <span class="learner-5">developer</span>
                                <span class="passionate-6">. I'm a Software Engineer with a passion for </span>
                                <span class="learner-7">Software Development,</span>
                                <span class="learner-7">Web Development,</span>
                                <span class="passionate-8">I enjoy working on projects related to and , </span>
                                <span class="learner-9"> Front-End </span>
                                <span class="passionate-8">and </span>
                                <span class="passionate-9">Back-End Development </span>
                                <span class="passionate-8">and more</span>
                                <span class="passionate-a">.<br /><br /> When I'm not coding, you can find me exploring digital simulations and interactive entertainment.</span>
                            </div>
                        </div>
                    </div>
                    <!-- box displaying link to github account and the github logo above the link -->
                    <div class="link-boxes">
                        <div class="link-box">
                            <a href="https://kamsicho.com" target="_blank">
                                <img src="images/assets/world-wide-web-svgrepo-com.svg" alt="Web Logo">
                                <span>View my Portfolio Website</span>
                            </a>
                        </div>
                        <div class="link-box">
                            <a href="https://linkedin.com/in/kamsi-nnaegbuna-36a422292" target="_blank">
                                <img src="images/assets/linkedin-svgrepo-com.svg" alt="LinkedIn Logo">
                                <span>View my LinkedIn Account</span>
                            </a>
                        </div>
                        <div class="link-box">
                            <a href="https://github.com/kamzysert3" target="_blank">
                                <img src="images/assets/github-142-svgrepo-com.svg" alt="GitHub Logo">
                                <span>View my GitHub Account</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer.ejs'); %>
    <script type="text/javascript" src="js/about-script.js"></script>
</body>
</html>