body{
    height: 100vh;
}
.blog-post {
    margin-bottom: 2rem;
    transition: .8s ease-in-out;;
}
.blog-post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.widget {
    margin-bottom: 2rem;
}
main {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 80px;
    min-height: 100%;
    justify-content: end;
}
.alert {
    display: none;
    position: absolute;
    width: 640px;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    text-align: center;
}
#alert-info {
    color: #600c0c;
    background-color: #f1d1d1;
    border-color: #ebbebe;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.flex-row-a {
    /* position: relative; */
    /* width: 10%; */
    /* height: 358px; */
    /* margin: 231px 0 0 105px; */
    /* z-index: 17; */
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    /* background: #ffffff; */
    /* box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2); */
    /* z-index: 15; */
}
.rectangle-1 {
    /* position: absolute; */
    width: min(100%, 400px);
    /* height: 58px; */
    /* top: 0; */
    /* left: 0; */
    background: #f0f0f0 url('../images/assets/profile.png') center center / cover no-repeat;
    /* z-index: 11; */
}
.description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* position: absolute; */
    height: 27px;
    /* top: 0; */
    /* left: 456px; */
    color: #241171;
    font-family: Nunito Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 19.096px;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    /* z-index: 16; */
}
.about-us {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* position: absolute; */
    width: 193px;
    height: 58px;
    /* top: 28px; */
    /* left: 453px; */
    color: #b1b1b1;
    font-family: Raleway, var(--default-font-family);
    font-size: 29px;
    font-weight: 700;
    line-height: 34.046px;
    text-align: left;
    z-index: 12;
}
.passionate-learner-designer {
    /* position: absolute; */
    /* width: 589px; */
    /* height: 206px; */
    /* top: 95px; */
    /* left: 458px; */
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
    z-index: 17;
}
.passionate {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.learner {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.passionate-2 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.learner-3 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.passionate-4 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.learner-5 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.passionate-6 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.learner-7 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.passionate-8 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.learner-9 {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.passionate-a {
    position: relative;
    color: #303030;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 300;
    line-height: 25.635px;
    text-align: left;
    letter-spacing: 0.6px;
}
.link-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    gap: 20px;
}

.link-box a{
    width: 12rem;
    aspect-ratio: 7/8;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* width: 100%; */
    /* height: 100%; */
    background: #f0f0f0;
    /* border: 1px solid #f0f0f0; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    transform: translateY(0);
    text-align: center;
    font-size: 75%;
    color: #6C757D;
}.link-box a:hover{
    background: #ddd;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    transform: translateY(-3px);
    cursor: pointer;
    text-decoration: none;
    color: #333;

}

.link-box a img{
    width: 40%;
    height: auto;
    object-fit: cover;
    color: #343A40;
}